$theme-color:	#1A95D1;
$header-color:	#4F4E54;

body {
  background-color: #6A6B6F;
}

.page {
  &-container {
    background-color: white;
  }
  &-header {
    padding: 70px 40px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  &-title {
    color: $theme-color;
  }
}

.questions {
  &-container {
    padding: 40px 20px;
  }
  &-section {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    &:last-child {
      border: none;
    }
  }
}